.anchor{
  display: block;
  height: 150px; /*same height as header*/
  margin-top: -150px; /*same height as header*/
  visibility: hidden;
}

.faqs-article-header{
	text-align: center;
  	margin-bottom: 3%;
  	font-size: 50px;
 }

/*hero styles*/
.hero-background{
	background-image: url("../images/FaqHeader.png") !important;
}
.hero{
	padding-top: 0;
}
.hero-header-vertical-middle{
	width: 60%;
}

/*hides the call-banner on desktop*/
.mobile-call-banner{
     display: none;
}

/*link styles*/
.content.dark.link-color{
	margin-top: 0;
}
.link-color>div>div>a{
	color: #526784 !important;
}
.link-hover>a:hover{
	color: #79d0f6 !important;
}


/*sets widths*/
.width-half{
	width: 50% !important;	
}

.width-most{
	width: 80% !important;
}


/*changes margins*/
.add-margin-right-one{
	margin-right: 1%;
}

.add-margin-right-two{
	margin-right: 2%;
}

.add-margin-left-two{
	margin-left: 2%;
}

.add-margin-left-fifteen{
	margin-left: 15%;
}

.add-margin-left-five{
	margin-left: 5%;
}

.add-margin-top-five{
	margin-top: 5%;
}

.no-bottom-margin{
	margin-bottom: 0;
}


/*font size for font-awesome fiber to the home icon*/
.font-210{
	font-size: 210px !important;
}
/*centers content*/
.center{
	margin: 0 auto;
}

/*sets vertical alignment*/
.vertical-align-middle{
	vertical-align: middle;
}
.vertical-align-top{
	vertical-align: top;
}

/*image styles*/
.woman-image{
	float:left;
	transform: translateY(0);
	width: 40%;
	//height: 100%;
	display: inline;
}

.man-image{
	width: 40% !important;
	//height: 160px;
	display: inline;
}
.medium-icon{
	width: 20%; !important;
	display: inline;
}

/*changes display*/
.desktop-hide{
	display: none !important;
}
.tablet-hide{
	display: initial;
}
.make-inline-block{
	display: inline-block;	
}
.call-now-top{
	display: none;
}

/* CSS for the ProgressNumBar*/
.number-pb {
  position: relative;
  height: 3px;
  background-color: #ddd;
  margin: 40px 0;
}

.number-pb .number-pb-shown {
  position: absolute;
  background-color: #176785;
  background-image: linear-gradient(to right, #176785, #124471);
  top: -1px;
  left: 0;
  height: 15px;
  -moz-box-shadow:    0 0 3px 0 #124471;
  -webkit-box-shadow: 0 0 3px 0 #124471;
  box-shadow:         0 0 3px 0 #124471;
  border-radius: 5px;
  content: 'test';
}

.number-pb .number-pb-num {
  position: absolute;
  background-color: transparent;
  left: 0;
  top: -0.45em;
  padding: 0 5px;
  min-width: 20px;
}

.number-pb-shown.dream {
  background-image: linear-gradient(to right, #124471, #124471, #124471);
  -moz-box-shadow:    0 0 3px 0 #f8cdda;
  -webkit-box-shadow: 0 0 3px 0 #f8cdda;
  box-shadow:         0 0 3px 0 #f8cdda;
}

.number-pb-shown.sun {
  content: 'test1';
  background-image: linear-gradient(to right, #124471, #124471, #124471);
  -moz-box-shadow:    0 0 3px 0 #e5e9bf;
  -webkit-box-shadow: 0 0 3px 0 #e5e9bf;
  box-shadow:         0 0 3px 0 #e5e9bf;
}

.title{
	text-align: center;
	font-weight: 600;
}

.button-container{
	width: 100%;
	text-align: center;
}

#start{
	margin: 0 auto;
	background-color: #fa9c17;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border: none;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding: 10px 20px;
	text-decoration:none;
	outline: none;
}

#start:hover{
	background-color: #7fd0ff;
}

#start:active{
	position:relative;
	top:1px;
}
/* CSS ProgressNumBar end*/

/* wide screen query */
@media screen and (max-width: 1400px) {
	.medium-icon{
		width: 40%; !important;
		display: inline;
	}
}

@media screen and (max-width: 1180px) {
	/*changes display for larger screens*/
	.call-now-top{
		display: none;
	}
	.desktop-hide{
		display: none !important;
	}	
	.small-desktop-width-all{
		width: 100% !important;
	}	
	.medium-icon{
		width: 40%; !important;
		display: inline;
	}
}

/* desktop query */
@media screen and (max-width: 960px) {
	.small-desktop-width-all{
		width: 100% !important;
	}
	/*hero adjustments*/
	.hero{
		padding-top: 0;
	}
	.hero-header-vertical-middle{
		transform: translateY(-35%);
	}

	/*display changes*/
	.desktop-hide{
		display: none !important;
	}
	.small-desktop-link{
		display: block;
	}

	/*fiber to the home jump to modifications*/
	.ftth-small-desktop-link>h2{
		display: inline-block;
		margin-left: 10%;
	}
	.ftth-small-desktop-link>i{
		float: right;
		padding-right: 10%;
	}
	
	.faqs-article-header{
		text-align: center;
		margin-bottom: 3%;
		font-size: 40px;
	}
}

/* tablet query */
@media screen and (max-width: 767px) {
	/*hero changes*/
	.hero{
		padding-top: 8%;
	}
	.hero-header-vertical-middle{
		margin-left: 3%;
	}

	/*fiber to the home link adjustment*/
	.ftth-small-desktop-link>h2{
		margin-left: 0;
	}

	.woman-image{
		width: 50%;
		height: 50%;
		margin-left: 25%;
	}


	/*changes in width for tablet*/
	.tablet-width-half{
		width: 50% !important;
	}
	.tablet-width-all{
		width: 100% !important;
	}

	/*hides on tablet*/
	.tablet-hide{
		display: none !important;
	}
	.desktop-hide{
		display: none !important;
	}
	.man-image.desktop-hide{
		display: initial !important;
		width: 60% !important;
		margin-left: 20%;
	}
	/*changes margins for tablet version*/
	.tablet-margin{
		margin-left: 0 !important;
	}
    
    .medium-icon{
        width: 70%;
        margin: 0 auto;
    }
	
	.faqs-article-header{
		text-align: center;
		margin-bottom: 3%;
		font-size: 35px;
	}
}

/* mobile phone query */
@media screen and (max-width: 375px) {
   /*hero styles for mobile*/
	.faqs-article-header{
		text-align: center;
		margin-bottom: 3%;
		font-size: 20px;
	}
	
    .hero-background{
    	background-image: url("../images/herobg.png") !important;
    }
    .hero-header-vertical-middle{
    	width: 100%;
    	position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    /*styles for mobile call now banner*/
    .call-now-top{
		display: initial !important;	
	}
	.mobile-call-now{
        transform: translateY(-125%);
    }
    .mobile-call-number{
        margin: 0;
        height: 31px;
    }

    .man-image{
    	width: 80% !important;
    	margin-left: 10% !important;
    }

    /*adjusts widths*/
    .width-half{
        width: 100% !important;	
    }
	.mobile-width-most-center{
		width: 80%;
		margin-left: 10%;
	}

	/*adjusts margins*/
    .mobile-margin{
        margin:0;
    }
	.mobile-margin-header{
		margin-top: 1% !important;
		margin-bottom: 1% !important;
	}
	.mobile-add-bottom-margin-five{
		margin-bottom: 5%;
	}
	
	/*changes displays*/
	.mobile-hide{
		display: none !important;
	}

	.desktop-hide{
		display: initial !important;
	}
    
    .medium-icon{
        width: 100%;
    }
}